/* StopDetails.css */

.stop-title {
  min-height: 48px;        /* keeps card heights aligned */
  line-height: 1.3;
}

.stop-subtitle {
  min-height: 20px;
  display: block;
}

.stop-badge {
  min-height: 32px;
}
/* StopDetails.css */
.selected-card {
  background-color: #9d9d9e; /* light blue shade */
  transition: background-color 0.3s;
}
